web: vendor/bin/heroku-php-apache2 /

# sesuaikan dengan nama project anda
cd ci-penjualan
# lakukan initialisasi git
git init
# tambahkan file2 project ke git, baca note dibawah
git add .
# simpan / commit perubahan
git commit -m "latihan"